header {
	padding-block: 0.75rem; 
	box-shadow: 0 1px 4px rgb(0, 0, 0, 0.05);
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 0.5rem; */
	/* background-color: lightskyblue; */
}

header > h1 {
	text-align: center;
	font-weight: 400;
}

header > img {
	width: 4rem;
}